.btd6font{
    font-family: "Luckiest Guy";
    font-style: normal;
    color: #FFFFFF;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg{
    background-color: #3eab5f;
}

#githubpic {
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: scale(0.2);
}

.peelybutton{
    height: 100px;
    width: 200px;
}